util=data.util
        toil = data.toil
        toiy = data.toiy=y
        #========bedroom========

        data.bedx=x
        bx = data.bedx
        data.bedy=y
        by =y+util
        bw = data.bedw
        bl = data.bedl  
        # ==============Kitchen ========  
        kx=data.kitx=x
        kw = data.kitw
        kl = data.kitl
        ky = y+toil
        #============Toilet=====
        tx = x+data.utiw
        ty = toiy
        tw = data.toiw
        tl = data.toil
        #======= draw=====
        drawx= x+data.staw
        drawy=y+util
        draww=data.draww
        drawl= data.drawl
        

        #================staires=======
        stax =data.stax=x 
        stay = y +util
        staw = data.staw
        stal =data.stal
        
        #============dining room =====
        dinx=data.dinx
        diny = data.diny
        dinw= data.dinw
        dinl=data.drawl

        #===============common toilet =======
        ctoix=data.ctoix
        ctoiy=data.ctoiy
        ctoiw=data.ctoiw
        ctoil=data.ctoil

        #=============store ========
        stox=x+data.washw
        stoy=y+util+data.bedl+data.stal
        stow=data.stow
        stol=data.stol

        #===========ots ======
        otsx=data.otsx
        otsy=data.otsy
        otsw=data.otsw
        otsl=data.otsl

        #=============wasarea======
        wasx=data.washx=x
        wasy=y+util
        wasw=data.washw
        wasl=data.washl

        #==========entery=====
        entx=x+data.kitw
        enty=y+util+data.bedl+data.draww
        entw=data.entw
        entl=data.entl

        #============parking =====
        parx=data.parx
        pary=data.pary
        parw=data.parw
        parl=data.parl
        #========garden ======
        garx=data.garx
        gary=data.gary
        garw=data.garw
        garl=data.garl
        #==========foy======
        foyx=data.foyx
        foyy=data.foyy
        foyw=data.foyw
        foyl=data.foyl
        #=========utility====
        utix=data.utix=x
        utiy=data.utiy=y
        utiw=data.utiw
        util=data.util
        
        "bx":bx,
                "by":by,
                "bw":bw,
                "bl":bl,
                "kx":kx,
                "ky":ky,
                "kl":kl,
                "kw":kw,
                "tx":tx,
                "ty":ty,
                "tw":tw,
                "tl":tl,
                "drawx":drawx,
                "drawy":drawy,
                "draww":draww,
                "drawl":drawl,
                "stax":stax,
                "stay":stay,
                "staw":staw,
                "stal":stal,
                "dinx":dinx,
                "diny":diny,
                "dinw":dinw,
                "dinl":dinl,
                "ctoix":ctoix,
                "ctoiy":ctoiy,
                "ctoiw":ctoiw,
                "ctoil":ctoil,
                "stox":stox,
                "stoy":stoy,
                "stow":stow,
                "stol":stol,
                "otsx":otsx,
                "otsy":otsy,
                "otsw":otsw,
                "otsl":otsl,
                "wasx":wasx,
                "wasy":wasy,
                "wasw":wasw,
                "wasl":wasl,
                "entx":entx,
                "enty":enty,
                "entw":entw,
                "entl":entl,
                "parx":parx,
                "pary":pary,
                "parw":parw,
                "parl":parl,
                "garx":garx,
                "gary":gary,
                "garw":garw,
                "garl":garl,
                "foyx":foyx,
                "foyy":foyy,
                "foyw":foyw,
                "foyl":foyl,
                "utix":utix,
                "utiy":utiy,
                "utiw":utiw,
                "util":util
======================================================================================================
# bedx = data.bedx=x
        # bedy = y+data.util
        # bedw =data.bedw
        # bedl = data.bedl
        # print("bedx (x) :",bedx ,"bedy(y+util):",bedy,"bedw:",bedw,"bedl:",bedl)
        
        # kitx=data.kitx=0
        # kity= y+data.toil
        # kitw=data.kitw
        # kitl=data.kitl
        # print("kitx(x):",kitx ,"kity(y+toil):",kity,"kitw:",kitw,"kitl:",kitl)

        # toix=x+data.utiw
        # toiy=data.toiy=0
        # toiw=data.toiw
        # toil=data.toil
        # print("toix(x+utiw):",toix ,"toiy(y):",toiy,"toiw:",toiw,"toil:",toil)
        # drawx=x+data.staw
        # drawy=y+data.util
        # draww=data.draww
        # drawl=data.drawl
        # print("drawx(x+staw):",drawx ,"drawy(y+util):",drawy,"draww:",draww,"drawl:",drawl)
        # stax=data.stax=x
        # stay=y+data.util
        # staw=data.staw
        # stal=data.stal
        # print("stax(x):",stax ,"stay(y+util):",stay,"staw:",staw,"stal:",stal)
        # dinx=data.dinx
        # diny=data.diny
        # dinw=data.dinw
        # dinl=data.dinl
        # print("dinx:",dinx ,"diny:",diny,"dinw:",dinw,"dinl:",dinl)
        # ctoix=data.ctoix
        # ctoiy=data.ctoiy
        # ctoiw=data.ctoiw
        # ctoil=data.ctoil
        # print("ctoix:",ctoix ,"ctoiy:",ctoiy,"ctoiw:",ctoiw,"ctoil:",ctoil)
        # stox=x+data.washw
        # stoy=y+data.util+data.bedl+data.stal
        # stow=data.stow
        # stol=data.stol
        # print("stox(x+wasw):",stox ,"stoy(y+util+bedl+stal):",stoy,"stow:",stow,"stol:",stol)
        # otsx=data.otsx
        # otsy=data.otsy
        # otsw=data.otsw
        # otsl=data.otsl
        # print("otsx:",otsx ,"otsy:",otsy,"otsw:",otsw,"otsl:",otsl)
        # washx=data.washx=0
        # washy=y+data.util
        # washw=data.washw
        # washl=data.washl
        # print("washx(x):",washx ,"washy(y+util):",washy,"washw:",washw,"washl:",washl)
        # entx=x+data.kitw
        # enty=y+data.util+data.bedl+data.draww
        # entw=data.entw
        # entl=data.entl
        # print("entx(x+kitw):",entx ,"enty(y+util+bedl+draw):",enty,"entw:",entw,"entl:",entl)
        # parx=data.parx
        # pary=data.pary
        # parw=data.parw
        # parl=data.parl
        # print("parx:",parx ,"pary:",pary,"parw:",parw,"parl:",parl)
        # garx=data.garx
        # gary=data.gary
        # garw=data.garw
        # garl=data.garl
        # print("garx:",garx ,"gary:",gary,"garw:",garw,"garl:",garl)
        # foyx=data.foyx
        # foyy=data.foyy
        # foyw=data.foyw
        # foyl=data.foyl
        # print("foyx:",foyx ,"foyy:",foyy,"foyw:",foyw,"foyl:",foyl)
        # utix = data.utix=x
        # utiy = data.utiy=y
        # utiw = data.utiw
        # util = data.util
        # print("utix(x):",utix ,"utiy(y):",utiy,"utiw:",utiw,"util:",util)
        =========================================================================================
            "date":datetime.now,
            "bedx":bedx,
            "bedy":bedy,
            "bedw":bedw,
            "bedl":bedl,
            "kitx":kitx,
            "kity":kity,
            "kitw":kitw,
            "kitl":kitl,
            "utix":utix,
            "utiy":utiy,
            "utiw":utiw,
            "util":util,
            "foyx":foyx,
            "foyy":foyy,
            "foyw":foyw,
            "foyl":foyl,
            "garx":garx,
            "gary":gary,
            "garw":garw,
            "garl":garl,
            "parx":parx,
            "pary":pary,
            "parw":parw,
            "parl":parl,
            "entx":entx,
            "enty":enty,
            "entw":entw,
            "entl":entl,
            "washx":washx,
            "washy":washy,
            "washw":washw,
            "washl":washl,
            "otsx":otsx,
            "otsy":otsy,
            "otsw":otsw,
            "otsl":otsl,
            "stox":stox,
            "stoy":stoy,
            "stow":stow,
            "stol":stol,
            "toix":toix,
            "toiy":toiy,
            "toiw":toiw,
            "toil":toil,
            "drawx":drawx,
            "drawy":drawy,
            "draww":draww,
            "drawl":drawl,
            "stax":stax,
            "stay":stay,
            "staw":staw,
            "stal":stal,
            "dinx":dinx,
            "diny":diny,
            "dinw":dinw,
            "dinl":dinl,
            "ctoix":ctoix,
            "ctoiy":ctoiy,
            "ctoiw":ctoiw,
            "ctoil":ctoil
            =====================================
            
        # bedx=data.bedx=x
        # bedy=data.bedy=y
        # bedw=data.bedw
        # bedl=data.bedl
        # print(bedx,bedy,bedw,bedl) 
        # kitx=data.kitx=0
        # kity= data.util+data.stal+data.drawl
        # kitw=data.kitw
        # kitl=data.kitl
        # print("kitx(x):",kitx ,"kity(util+stal+drawl):",kity,"kitw:",kitw,"kitl:",kitl)
        # toix=x+data.utiw
        # toiy=data.toiy=0
        # toiw=data.toiw
        # toil=data.toil
        # print("toix(x+utiw):",toix ,"toiy(y):",toiy,"toiw:",toiw,"toil:",toil) 
        # drawx=x+data.staw
        # drawy=y+data.util+data.bedl
        # draww=data.draww
        # drawl=data.drawl
        # print("drawx(x+staw):",drawx ,"drawy(y+util+bedl):",drawy,"draww:",draww,"drawl:",drawl)  
        # stax=data.stax=x
        # stay=y+data.util+data.bedl
        # staw=data.staw
        # stal=data.stal
        # print("stax(x):",stax ,"stay(y+util+bedl):",stay,"staw:",staw,"stal:",stal)    
        # dinx=data.dinx
        # diny=data.diny
        # dinw=data.dinw
        # dinl=data.dinl
        # print("dinx:",dinx ,"diny:",diny,"dinw:",dinw,"dinl:",dinl)
        # ctoix=data.ctoix=x
        # ctoiy=y+data.util+data.stal+data.bedl
        # ctoiw=data.ctoiw
        # ctoil=data.ctoil
        # print("ctoix(x):",ctoix ,"ctoiy(y+util+ stal+bedl):",ctoiy,"ctoiw:",ctoiw,"ctoil:",ctoil)
        # data.washx=x
        # stox=x+data.washx
        # stoy=y+data.util+data.bedl+data.stal
        # stow=data.stow
        # stol=data.stol
        # print("stox(x+wasw):",stox ,"stoy(y+util+bedl+stal):",stoy,"stow:",stow,"stol:",stol)
        # otsx=data.otsx
        # otsy=data.otsy
        # otsw=data.otsw
        # otsl=data.otsl
        # print("otsx:",otsx ,"otsy:",otsy,"otsw:",otsw,"otsl:",otsl)
        # washx=data.washx=x
        # washy=y+data.util+data.bedl+data.stal
        # washw=data.washw
        # washl=data.washl
        # print("washx(x):",washx ,"washy(y+util+bedl+stal):",washy,"washw:",washw,"washl:",washl)
        # entx=x+data.kitw
        # enty=y+data.util+data.bedl+data.draww
        # entw=data.entw
        # entl=data.entl
        # print("entx(x+kitw):",entx ,"enty(y+util+bedl+draw):",enty,"entw:",entw,"entl:",entl)
        # parx=data.parx
        # pary=data.pary
        # parw=data.parw
        # parl=data.parl
        # print("parx:",parx ,"pary:",pary,"parw:",parw,"parl:",parl)
        # garx=data.garx
        # gary=data.gary
        # garw=data.garw
        # garl=data.garl
        # print("garx:",garx ,"gary:",gary,"garw:",garw,"garl:",garl)
        # foyx=data.foyx
        # foyy=data.foyy
        # foyw=data.foyw
        # foyl=data.foyl
        # print("foyx:",foyx ,"foyy:",foyy,"foyw:",foyw,"foyl:",foyl)
        # utix = data.utix=x
        # utiy = data.utiy=y
        # utiw = data.utiw
        # util = data.util
        # print("utix(x):",utix ,"utiy(y):",utiy,"utiw:",utiw,"util:",util)
        ======================================
        <!-- <rect x= y={{utiy}} width={{utiw}} height={{util}}></rect>
          <rect x={{utiw}} y={{utiy}} width={{stow}} height={{stol}}></rect>
          <rect x={{bedx}} y={{bedy}} width={{bedw}} height={{bedl}}></rect>
          <rect x={{bedw}} y={{toiy|add:util}} width={{toiw}} height={{toil}}></rect>
          <rect x={{stax}} y={{stay}} width={{staw}} height={{stal}}></rect>
          <rect x={{ctoix}} y={{ctoiy}} width={{ctoiw}} height={{ctoil}}></rect>
          <rect x={{drawx}} y={{drawy}} width={{draww}} height={{drawl}}></rect>
          <rect x={{kitx}} y={{kity}} width={{kitw}} height={{kitl}}></rect>
          <rect x={{entx}} y={{enty|add:6.0}} width={{entw}} height={{entl}}></rect> -->

          <!-- <rect x=0 y=0 width=50 height=20></rect><text x=5 y=15>U</text>
          <rect x=50 y=0 width=30 height=20></rect><text x=55 y=15>S</text>
          <rect x=0 y=20 width=50 height=40></rect><text x=0 y=40>B</text>
          <rect x=50 y=20 width=30 height=40></rect><text x=55 y=40>T</text>
          <rect x=0 y=60 width=40 height=30></rect><text x=5 y=75>Sta</text>
          <rect x=0 y=90 width=40 height=20></rect><text x=5 y=100>toi</text>
          <rect x=40 y=60 width=40 height=60></rect><text x=45 y=75>D</text>
          <rect x=0 y=110 width=30 height=40></rect><text x=5 y=125>kit</text>
          <rect x=40 y=120 width=40 height=30></rect><text x=55 y=135>E</text> -->


    
