{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    <title>xChabu</title>
    
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-6 top-div" style="background-color: white; border: 2px solid orangered;">
             <h2 class="form-title" style="color: navy; font-family: Georgia, 'Times New Roman', Times, serif;"><b>Reset Password</b></h2>
             <form  class="register-form" method="POST" action="/forgot_password" onsubmit="return validation()">
              {% csrf_token %} 
              {% if messages %}
              {% for msg in messages %}
              <p class="text-danger" style="padding-left: 20%;">{{msg}}</p>
              {% endfor %}
              {% endif %} 

              <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

                <div class="col-sm-10 form-group">
                        
                  <span><i class="fa fa-envelope" aria-hidden="true"  style="color: orangered;"></i></span>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Your Email"autocomplete="off"/>
                </div>
               <span id="useremail" class="text-danger"></span>

               <div class="col-sm-10 form-group">
                <span><i class="fa fa-lock" aria-hidden="true"  style="color: orangered;"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" autocomplete="off"/>
            
                </div>
                <span id="userpassword" class="text-danger"></span>

                <div class="col-sm-10 form-group">
                <span><i class="fa fa-lock" aria-hidden="true"  style="color: orangered;"></i></span>
                <input type="password" class="form-control"  name="cpassword" id="cpassword" placeholder="Your Confirm Password" autocomplete="off"/>
        
               </div>
                <span id="userpass" class="text-danger"></span>

               

               <div class=" col-sm-10 form-button">
                

                <input type="submit" class="btn "name="submit" id="submit" class="form-submit" value="Submit"style="background-color: navy; color: white; font-family: 'Times New Roman', Times, serif;"/>
              </div>
               

             </form>
            </div>
            <div class="col-6 side-div">
            <img src="{% static 'images/signup-image.jpg'%}">
                
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    
    function validation(){

        
      var email =  document.getElementById('email').value;
      
      if(email == ""){
          document.getElementById('useremail').innerHTML="**please Fill email field";
          return false;
      }
      if(email.indexOf('@')<= 0){
          document.getElementById('useremail').innerHTML="**Please enter valid email address";
          return false;
      }
      if((email.charAt(email.length-4)!='.') &&(email.charAt(email.length-3)!='.')){
          document.getElementById('useremail').innerHTML="**Please enter valid positionn i.e .com,.in,.org etc";
          return false;
      
    }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>