*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

.top-div{
    margin-top: 10%;
    margin-bottom: 3%;
    
    
}
.top-div form{
    padding-left: 15%;
}
.form-group input{
    letter-spacing: 1px;
    font-size: 15px;
    padding-left: 60px;
    left: 10%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    
}
.form-group span{
    left: 25px;
    position: absolute;
    font-size: 25px;
    width: 50px;
    padding-bottom: 1px;
    
    height: 35px;

}

.form-button{
    padding-bottom: 4%;
    left: 30%;  
    font-family: Arial, Helvetica, sans-serif; 
}
.top-div h2{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.side-div{
    margin-top: 10%;
    margin-bottom: 3%;
   padding-left: 15%;
}
